.profile {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f3eed5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.description {
  padding: 10px;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 100%;
  margin: 0 auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.name {
  font-size: 24px;
  color: #191970;
  font-weight: 700;
}
.tag,
.location {
  color: #808080;
}
.stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  text-align: center;
  background-color: #88c5ff;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
}
